<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Avaliable items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of stockItems" size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size:0.8em">
              {{ item.category }}
            </ion-card-subtitle>
            <ion-card-title style="font-size:1.1em">{{ item.name }}</ion-card-title>
          </ion-card-header>

          <ion-item>
            <ion-textarea>
              {{ item.marketingComment }}
            </ion-textarea>
            <ion-icon name="alert" slot="start" color="danger"></ion-icon>
            <ion-button fill="outline" slot="end" (click)="details(e)">Details</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>